@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

button {
    font-family: 'Quicksand', sans-serif;
}

.hidden {
    display: none!important;
}


/*header*/

#header-div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/*top*/

#top-div {
    height: 100vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/slider02.jpg");
    background-size: cover;
}

#top-logo {
    width: 50%;
}

#top-text-div {
    margin-top: 30vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#top-content-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

/*button*/

.pretty-button {
    background-color: #F07505;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 250px;
}
  
.pretty-button:hover {
    background-color: transparent;
}


/*burger menu*/

.menu-toggle {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

nav a {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

#nav-right {
    display: none;
}

  
.bar {
    border-radius: 15px;
    width: 30px;
    height: 3px;
    background-color: #F07505;
    margin: 5px 0;
}
  
.menu {
    left: 0%;
    width: 100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 85px;
    text-align: center;
    display: none;
}
  
li {
    padding: 10px;
    list-style: none;
}


a {
    color: white;
    text-decoration: none;
}

.transform {
    transform: rotate(-30deg);
}
  
.menu.active {
    display: block;
    z-index: 1;

}

.menu-items {
    color: white;
}

/*middle*/

#middle-div {
    margin-top: 5vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 125vh;
    gap: 30px;
}

.box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 200px;
    width: 80%;
    background-color: #005DE8;
    border-radius: 15px;
    gap: 15px;
}

.top-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.box-button {
    height: 75px;
    width: 150px;
}

.box-icon {
    height: 75px;
    width: 75px;
}

.box-text {
    color: white;
}

/*slider*/

#slider-div {
    margin-top: 50px;
    width: 100%;
    height: 60vh;
}

.slider {
    display: grid;
    grid-template: "slider";
    place-items: center;
    place-content: center;
    overflow: hidden;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 60vh;
}

.slider-slides {
    max-width: 100%;
    grid-row: 1/ 7;
    grid-column: 1 / 7;
}
.slider-slide {
    height: 60vh;
    object-fit: cover;
    filter: brightness(75%);
}

#slider-overlay {
    z-index: 1;
    grid-row: 3 / 5;
    grid-column: 2/6;
    padding: 10px;
}

#slider-overlay h1 {
    text-align: center;
    font-size: 2.5rem;
}

#slider-overlay p {
    text-align: center;
    font-size: 1rem;
}

/*form*/

#form-div {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

#form-header {
    text-align: center;
    color: #003C96;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

#subscription-form {
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }

 #submit-subscription {
    height: 50px;
    border-radius: 30px;
    background-color: #03a851;
 }

 #submit-subscription:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
 }

 .valid-input {
    color: black;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: transparent;
    height: 30px;
    width: 100%;
 }

.valid-input:valid {
    border: 1px solid #03a851;
 }


#subscription-form textarea {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: transparent;
    height: 100px;
    width: 100%;
}

#sub-header {
    color: #003C96;
}

/*footer*/

#footer-div {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #005DE8;
    color: white;
}

.social-icon {
    height: 50px;
    width: 50px;
}

#footer-middle-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 20px;

}

#footer-address-div {
    text-align: center;
}

#footer-contact-div {
    text-align: center;
}

#footer-bottom-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: white;
    gap: 5px;
}

#footer-app-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px){
    #footer-logo, #top-logo {
        max-width: 600px;
    }

    .bar {
        width: 50px;
    }
    
    .menu-toggle {
        padding: 30px;
    }

    #top-div {
        padding-left: 100px;
        padding-right: 100px;
    }

    #footer-bottom-div {
        gap: 50px;
    }

    .box {
        padding: 100px;
    }

    .top-box {
        padding-left: 50px;
        padding-right: 50px;
        gap: 0px;
    }
}